<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://turbinerepair20230321111251.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ee7778ee-699b-4ee3-9432-a7533a6d1930/resourcegroups/funcapptutorialrg/providers/Microsoft.Web/sites/TurbineRepair20230321111251</ResourceId>
    <UserName>$TurbineRepair20230321111251</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/ee7778ee-699b-4ee3-9432-a7533a6d1930/resourceGroups/funcapptutorialrg/providers/Microsoft.ApiManagement/service/TurbineRepairapidhiva/apis/TurbineRepair</ApiResourceId>
    <PublishUrl>https://turbinerepair20230321111251.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>