<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapptest120230320121233.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ee7778ee-699b-4ee3-9432-a7533a6d1930/resourcegroups/testFunc/providers/Microsoft.Web/sites/FunctionAppTest120230320121233</ResourceId>
    <UserName>$FunctionAppTest120230320121233</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapptest120230320121233.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>